---
import GoogleRating from "./GoogleRating.astro";


---

<section
  class="relative overflow-hidden min-h-[400px]"
  style='background-image: url("https://sandbox.elemisthemes.com/assets/img/map.png");
         background-size: cover;
         background-position: center;'
>
  <div
    class="relative mx-auto flex h-full w-full flex-col items-center justify-center px-4 py-12 sm:px-6 sm:py-16 lg:px-8 lg:py-20"
  >
    <h2 class="px-4 pt-4 pb-6 text-3xl sm:text-4xl xl:text-5xl">
      Our <span class="font-bold">Growth</span>
    </h2>    

    

    <div class="bg-gray-900 py-24 sm:py-32">
      <div class="mx-auto max-w-7xl px-6 lg:px-8">
        <dl
          class="grid grid-cols-1 gap-x-8 gap-y-16 text-center lg:grid-cols-3"
        >
          <div class="mx-auto flex max-w-xs flex-col gap-y-4">
            <dt class="text-base/7 text-gray-400">
              Transactions every 24 hours
            </dt>
            <dd
              class="order-first text-3xl font-semibold tracking-tight text-white sm:text-5xl"
            >
              44 million
            </dd>
          </div>
          <div class="mx-auto flex max-w-xs flex-col gap-y-4">
            <dt class="text-base/7 text-gray-400">Assets under holding</dt>
            <dd
              class="order-first text-3xl font-semibold tracking-tight text-white sm:text-5xl"
            >
              $119 trillion
            </dd>
          </div>
          <div class="mx-auto flex max-w-xs flex-col gap-y-4">
            <dt class="text-base/7 text-gray-400">New users annually</dt>
            <dd
              class="order-first text-3xl font-semibold tracking-tight text-white sm:text-5xl"
            >
              46,000
            </dd>
          </div>
        </dl>
      </div>
    </div>
  </div>
</section>
