<header class="p-4 m-0 flex max-w-screen-xl items-center justify-between">
  <a href="/" class="flex items-center text-2xl font-black whitespace-nowrap">
    spline
  </a>

  <input type="checkbox" class="peer hidden" id="navbar-open" />

  <label class="absolute top-5 right-5 cursor-pointer lg:hidden" for="navbar-open">
    <span class="sr-only">Toggle Navigation</span>
    <svg class="w-7 h-7" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
      <path stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5" d="M4 6h16M4 12h16M4 18h16" />
    </svg>
  </label>

  <nav aria-label="Header Navigation"
    class="flex flex-col items-center w-full max-h-0 overflow-hidden transition-all peer-checked:max-h-60 lg:flex-row lg:justify-end lg:max-h-full lg:w-auto lg:space-x-12">
    <ul class="flex flex-col items-center space-y-2 lg:flex-row lg:space-y-0 lg:space-x-12">
      <li><a href="/web" class="transition rounded focus:outline-none focus:ring-1 focus:ring-blue-700 focus:ring-offset-2">Desarrollo Web</a></li>
      <li><a href="/about" class="transition rounded focus:outline-none focus:ring-1 focus:ring-blue-700 focus:ring-offset-2">Contact</a></li>
    </ul>
    <a href="#" class="px-5 py-3 font-medium text-white transition-all duration-200 bg-blue-700 rounded-xl whitespace-nowrap hover:bg-blue-600 focus:outline-none focus:ring-2 focus:ring-blue-700 focus:ring-offset-2">
      Login
    </a>
  </nav>
</header>
